---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="About - Korean">

<div class="profile-container">

  <div class="profile-image">
    <img src="/profile.jpg">
  </div>

  <div class="profile-text">
    <p>여기에 한글 프로필 내용 넣으면 됩니다</p>
  </div>

</div>

</Layout>
