---

---

<html>
  <head>
    <title>Junghoon Nam</title>

    <style>
      body {
        margin: 0;
        font-family: Arial, sans-serif;

        background-image: url("/mybackground.jpg");
        background-image: url("/background.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

        color: white;
      }

      header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
      }

      .logo {
        text-align: center;
        margin-bottom: 30px;
      }

      .logo a {
        text-decoration: none;
        color: white;
      }

      .name {
        font-size: 32px;
        font-weight: bold;
      }

      .composer {
        font-size: 18px;
        letter-spacing: 3px;
        margin-top: 5px;
      }

      nav {
        display: flex;
        gap: 40px;
        font-size: 18px;
        margin-bottom: 30px;
      }

      nav a {
        text-decoration: none;
        color: white;
      }

      nav a:hover {
        opacity: 0.6;
      }

      .sns {
        margin-bottom: 40px;
      }

      .sns img {
        width: 25px;
        height: 25px;
      }

      main {
        max-width: 900px;
        margin: 0 auto;
        padding: 60px;
        background: rgba(0,0,0,0.6);
        font-size: 20px;
        line-height: 1.8;
      }

      img.profile {
        width: 250px;
        margin-bottom: 30px;
      }

    </style>
  </head>

  <body>

    <header>

      <div class="logo">
        <a href="/">
          <div class="name">Junghoon Nam</div>
          <div class="composer">COMPOSER</div>
        </a>
      </div>

      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/events">Events</a>
        <a href="/archive">Archive</a>
        <a href="/contact">Contact</a>
      </nav>

      <div class="sns">
        <a href="https://www.instagram.com/junghoon.n/" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png">
        </a>
      </div>

    </header>

    <main>
      <slot />
    </main>

  </body>
</html>
