---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">

<div style="display:flex; justify-content:center; align-items:center; height:70vh;">
  <img src="/mybackground.jpg" style="max-width:900px; width:90%;" />
</div>

</Layout>
